header {
    max-width: 1231px;
    margin: 30px auto;
}

.pepelane {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        display: flex;
        justify-content: start;
        align-items: center;
    }
    &__name {
        font-size: 26px;
        font-weight: 500;
        padding-left: 16px;   
        cursor: pointer;   
        &:hover {
            color: $blue-color;
        }  
    }
    &__text {
        font-style: normal;
        font-weight: 300;
        margin-bottom: 8px;
        font-size: 16px;
        color: $main-color;
        padding-left: 64px;
    }
    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__nightmod {
        display: flex;
        cursor: pointer;
        margin-top: 5px;
    }
    &__descr {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        margin-left: 18px;
        color: $main-color;
        &:hover {
            color: #4959FF;
        }
    }
    &__notifications {
        display: flex;
        padding-left: 107px;
        margin-top: 5px;
    }
    &__icons {
        cursor: pointer;
    }
    &__notif{
        padding-left: 29px;
    }
    &__dot {
        position: relative;
        display: flex;
        cursor: pointer;
    }
    &__reddot{
        position: absolute;
        top: 28%;
        left: 87%;
        height: 7px;
        width: 7px;
        border-radius: 100%;
        background-color: red;
    }
    &__profile {
        display: flex;
        margin-left: 53px;
        cursor: pointer;
        align-items: center;
    }
    &__uname {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        padding-right: 16px;
        margin-top: 10px;
        &:hover {
            color: $blue-color;
        }
    }
    &__avatar {
        width: 56px;
        height: 56px;
        border-radius: 100%;
        &:hover {
            border: 3px solid $blue-color;
        }
    }

}
